:root {
	font-size: $root_fz;
}

@include fontFace($src:'../fonts/Avenir-HeavyOblique', $family:'AvenirHeavy');
@include fontFace($src:'../fonts/Avenir-Medium', $family:'AvenirMedium');
@include fontFace($src:'../fonts/Avenir-Book', $family:'AvenirBook');

html {
	scroll-behavior: smooth;
	@media only screen and (max-width: 1024px) {
		width: 100vw;
		overflow-x: hidden;
	}
}

body {
	font-size: $body_fz;
	background-color: $primary;
	font-family: 'AvenirBook';
	background-image: url('../images/BG_tonske.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	@media only screen and (max-width: 1024px) {
		width: 100vw;
		overflow-x: hidden;
	}
}

h1 {
	font-size: $h1_fz;
	color: $text_color;
	font-family: 'AvenirHeavy';
	font-weight: 600;
}

h2 {
	font-size: $h2_fz;
	color: $text_color;
	font-family: 'AvenirHeavy';
	font-weight: 600;
}

h3 {
	font-size: $h3_fz;
	color: $text_color;
	font-family: 'AvenirHeavy';
	font-weight: 600;
}

h4 {
	font-size: $h4_fz;
	color: $text_color;
	font-family: 'AvenirHeavy';
	font-weight: 600;
}

h5 {
	font-size: $h5_fz;
	color: $text_color;
	font-family: 'AvenirHeavy';
	font-weight: 600;
}

h6 {
	font-size: $h6_fz;
	color: $text_color;
	font-family: 'AvenirHeavy';
	font-weight: 600;
}

p {
	color: $text_color;
	margin: 0;
	font-weight: normal;
	span {
		font-family: 'AvenirHeavy';
	}
}

a,
label {
	font-family: 'AvenirBook';
	color: $link_color;
	font-size: $link_fz;
}

a {
	transition: all 0.15s ease-in-out;

	svg {
		transition: fill 0.15s ease-in-out;
	}

	&:hover {
		text-decoration: none;
		color: $white;

		svg path {
			fill: $white;
		}
	}
}

input,
a,
button {

	&:focus,
	&:active {
		outline: none !important;
		box-shadow: none !important;
	}
}

.desktop {
	overflow: hidden;

	#page_container {
		max-width: 1920px;
		margin: auto;

		.inner_page {
			width: 100%;
			margin: auto;
			position: relative;

			.section_container {
				min-height: 100vh;
				position: relative;
				padding-top: 11rem;
			}
		}
	}
}

.privacy_content {
	padding-top: 9rem;
	padding-bottom: 5rem;
	p {
		font-size: 1.3rem;

		span.title {
			font-size: 1.5rem;
		}
	}
	@media only screen and (max-width: 767px) {
		padding-top: 2rem;
	}
}