.header_section {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $primary;
  width: 100%;
  max-width: 100vw;
  z-index: 999;

  a {
    cursor: pointer;
  }

  img.logo {
    width: 100%;
    max-width: 130px;
    margin: 1rem 0;
  }

  .description {
    font-size: $link_fz;

    svg.mail {
      margin-left: 1rem;
      max-width: 28px;
    }
  }

  @media only screen and (min-width: 770px) {
    .tablet_header {
      max-width: 33.33%;
    }
  }

  @media only screen and (max-width: 770px) {
    .tablet_header {
      align-items: flex-start !important;
      padding-left: 3rem;
    }
  }
}

.footer_section {
  display: none !important;
  margin-top: 3.125rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 1rem;

  svg {
    width: 31px;
    height: auto;
    margin: 0.5rem 0;
  }

  &.fourth_section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;

    @media only screen and (max-width: 1024px) {
      display: none !important;
    }
  }

  &.fifth_section {
    margin-top: -7rem;
    margin-bottom: 2rem;
  }

  &.sixth_section {
    max-width: 1200px;
    display: flex !important;
    position: absolute;
    bottom: 10.5%;
    left: 50%;
    transform: translateX(-50%);

    @media only screen and (max-width: 1024px) {
      bottom: -3rem;
      max-width: 870px;
    }
  }

  @media only screen and (max-width: 1440px) {
    max-width: 1100px;
  }

  @media only screen and (max-width: 1024px) {
    max-width: 900px;
    margin-top: -9rem !important;
    margin-bottom: 10rem;
  }

  @media only screen and (max-width: 770px) {
    max-width: 700px !important;
    margin-bottom: 0;
  }
}

#section_one {
  padding-top: 0 !important;

  .footer_section {
    max-width: 1200px;
    display: flex !important;
    position: absolute;
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
  }

  @media only screen and (max-width: 1440px) {
    padding-top: 85px !important;

    .information_card .services_container {
      margin: 1rem 0;
    }

    .footer_section {
      bottom: 10%;
    }
  }

  @media only screen and (max-width: 1024px) {
    .footer_section {
      bottom: -5rem;
      max-width: 870px;
    }
  }
}

footer {
  padding-bottom: 3rem;
  margin-top: 1rem;

  .footer_badge {
    display: inline-block;
    background-color: $text_color;
    padding: 0.5rem 1rem;
    border-radius: 10px;

    p {
      color: $white;
      font-size: 1.25rem;
      font-style: italic;
    }
  }

  .adress_container {
    // padding: 1rem;
    margin: 0 auto;

    a,
    span {
      color: $text_color;
      font-size: 0.9rem;
      transition: all 0.25s ease-in-out;
    }

    a:hover {
      color: $white;
    }

    svg {
      width: auto;
      height: 0.9rem;

      path {
        transition: all 0.25s ease-in-out;

        &:hover {
          fill: $white;
        }
      }
    }
  }

  .footer_logo {
    img {
      max-width: 120px;
    }

    p {
      font-family: "AvenirBook";
      font-size: 0.7rem;
      line-height: 0;
    }
  }

  @media only screen and (max-width: 767px) {
    padding-bottom: 0;
    padding-top: 1rem;
    position: relative;
    margin-bottom: 1.5rem;

    .footer_badge {
      margin: 0 1rem;
      padding: 0.25rem 0.5rem;

      p {
        font-size: 0.5rem;
      }
    }

    .adress_container {
      margin: 0.25rem 0 !important;

      a,
      span {
        font-size: 0.5rem;
      }

      svg {
        height: 0.35rem;
      }
    }

    .footer_logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0;
      padding-top: 0;

      img {
        max-height: 30px;
      }

      p {
        margin-top: 0.6rem;
        font-size: 0.5rem;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1.5rem;
        width: 100%;
        height: 1.5rem;
        background-color: $white;
      }
    }
  }
}