.header_section {
	position: fixed;
	top: 0;
	left: 0;
	background-color: $primary;
	width: 100%;
	z-index: 999;
	img.logo {
		width: 100%;
		max-width: 183px;
		margin: 2rem 0;
	}
	.description {
		font-size: $link_fz;
		svg.mail {
			margin-left: 1rem;
			max-width: 28px;
		}
	}
}

.footer_section {
	margin-top: 3.125rem;
	width: 100%;
	max-width: 1300px;
	margin: auto;
	svg {
		width: 31px;
		height: auto;
		margin: 0.5rem 0;
	}
	&.fourth_section {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 2rem;
	}
	&.fifth_section {
		margin-top: -7rem;
		margin-bottom: 5rem;
	}
	&.sixth_section {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 5rem;
	}
}

footer {
	.footer_badge {
		display: inline-block;
		background-color: $text_color;
		padding: 0.5rem 1rem;
		border-radius: 10px;
		p {
			color: $white;
			font-size: 1.25rem;
		}
	}
	.adress_container {
		// padding: 1rem;
		margin: 0 auto;
		a, span {
			color: $text_color;
			font-size: 1.25rem;
			transition: all 0.25s ease-in-out;
		}
		a:hover {
			color: $white;
		}
		svg {
			width: auto;
			height: 20px;
			path {
				transition: all 0.25s ease-in-out;
				&:hover {
					fill: $white;
				}
			}
		}
	}
	.footer_logo {
		p {
			font-family: 'AvenirBook';
			font-size: 1.048rem;
			line-height: 1rem;
		}
	}
}