.information_card {
	margin: auto;
	max-width: 1090px;
	@include boxShadowMixin(
		$offX: map-get($main_shadow, 'offX'),
		$offY: map-get($main_shadow, 'offY'),
		$blur: map-get($main_shadow, 'blur'),
		$spread: map-get($main_shadow, 'spread'),
		$color: map-get($main_shadow, 'color'),
		$alpha: map-get($main_shadow, 'alpha')
		);
	padding: 5rem;
	text-align: center;
	.services_container {
		margin: 3rem 0;
		.service {
			width: 161px;
			height: 161px;
			background-color: $white;
			border-radius: 100%;
		}
		.plus {
			font-weight: bold;
			font-size: 1.625rem;
		}
	}
	@media only screen and (max-width: 1440px) {
		padding: 3rem;
	}
}
