.second_section_container {
	max-width: 900px;
	margin: auto;
	position: relative;
	p {
		font-size: $paragraph;
		text-align: right;
	}
	.square_text {
		background: $white;
		position: absolute;
		height: 100%;
		width: 250px;
		right: calc(-250px - 5rem);
		background-color: $white;
	}
	@media only screen and (max-width: 1440px) {
		margin: 0;
		// margin-top: 6rem;
		margin-left: 4rem;
		max-width: 1000px;
		p {
			font-size: 1rem;
		}
		.square_text {
			right: calc(-250px - 4rem);
		}
	}
}

.third_section_container {
		margin: auto;
	// margin-left: 1.8rem;
	position: relative;
	max-width: 900px;
	p {
		font-size: $paragraph;
	}
	.square_text {
		background: $white;
		position: absolute;
		height: 250px;
		width: 250px;
		top: -50px;
		left: calc(-260px - 5rem);
		background-color: $white;
	}
	@media only screen and (max-width: 1440px) {
		margin-left: 16rem;
		max-width: 700px;
		p {
			font-size: 1rem;
		}
		.square_text {
			right: calc(-250px - 4rem);
		}
	}
}

.fourth_section_container {
	// margin-left: 1.8rem;
	margin: auto;
	max-width: 900px;
	position: relative;
	.section_header {
		height: 130px;
	}
	.advantages_card {
		margin: auto;
		max-width: 1000px;
		background-color: $white;
		@include boxShadowMixin(
			$offX: map-get($main_shadow, 'offX'),
			$offY: map-get($main_shadow, 'offY'),
			$blur: map-get($main_shadow, 'blur'),
			$spread: map-get($main_shadow, 'spread'),
			$color: map-get($main_shadow, 'color'),
			$alpha: map-get($main_shadow, 'alpha')
			);
		padding: 5rem;
		text-align: center;
		.adventage {
			width: 90px;
			height: 90px;
			border-radius: 100px;
			display: inline-block;
			background-color: $text_color;
			img {
				width: 50%;
				height: auto;
			}
		}
		p {
			min-width: 250px;
			font-size: 1.3rem;
			display: inline-block;
		}
	}
	@media only screen and (max-width: 1440px) {
		.section_header {
			height: 100px;
		}
		.advantages_card {
			padding: 3rem;
		}
	}
}

.fifth_section_container {
	margin: auto;
	max-width: 900px;
	position: relative;
	p {
		font-size: $paragraph;
		text-align: left;
	}
	.square_text {
		background: $white;
		position: absolute;
		height: 100%;
		width: 250px;
		right: calc(-250px - 5rem);
		background-color: $white;
	}
	@media only screen and (max-width: 1440px) {
		margin: 0;
		// margin-top: 6rem;
		margin-left: 4rem;
		max-width: 1000px;
		p {
			font-size: 1rem;
		}
		.square_text {
			right: calc(-250px - 4rem);
		}
	}
}

.grid-container {
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	.grid-item {
		position: relative;
		background-size: cover;
		background-position: center;
		&.dg { background-image: url('./../images/dg.png'); }
		&.editorial { background-image: url('./../images/editorial.png'); }
		&.peope { background-image: url('./../images/peope.png'); }
		&.mkt { background-image: url('./../images/mkt.png'); }
		&.branding { background-image: url('./../images/branding.png'); }
		&.btl { background-image: url('./../images/btl.png'); }
		&:before {
			content: "";
			padding-bottom: 100%;
			display: inline-block;
			vertical-align: top;
		}
		.inner-grid {
			position: absolute;
			text-align: center;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 150px;
			height: 150px;
			background-color: #FFF;
			border-radius: 100%;
			font-size: 2rem;
			line-height: 2.3rem;
		}
	}
}

.sixth_section_container {
	position: relative;
	form {
		margin: auto;
		max-width: 1090px;
		@include boxShadowMixin(
			$offX: map-get($main_shadow, 'offX'),
			$offY: map-get($main_shadow, 'offY'),
			$blur: map-get($main_shadow, 'blur'),
			$spread: map-get($main_shadow, 'spread'),
			$color: map-get($main_shadow, 'color'),
			$alpha: map-get($main_shadow, 'alpha')
			);
		padding: 5rem;
		.form-group {
			position: relative;
			min-height: 3rem;
			label {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				z-index: 10;
				padding-left: 1rem;
			}
			input {
				position: absolute;
				left: 0;
				top: 50%;
				padding-left: 120px;
				transform: translateY(-50%);
				background-color: transparent;
				border: none;
				border-bottom: 1px solid rgba($full_black, 0.15);
				border-radius: 0;
			}
		}
		button.btn {
			font-family: 'AvenirHeavy';
			margin: auto;
			margin-top: 3rem;
			background-color: rgba($white, 0.5);
			display: block;
			font-size: 1.5rem;
			border: none;
			border-radius: 0;
			@include boxShadowMixin(
				$offX: map-get($main_shadow, 'offX'),
				$offY: map-get($main_shadow, 'offY'),
				$blur: map-get($main_shadow, 'blur'),
				$spread: map-get($main_shadow, 'spread'),
				$color: map-get($main_shadow, 'color'),
				$alpha: map-get($main_shadow, 'alpha')
				);
		}
	}
	.privacy {
		position: absolute;
		bottom: 1.5rem;
		right: -160px;
		line-height: 0.8rem;
		a {
			font-size: 1rem;
		}
	}
}

// #section_two {
// 	background-image: url('../images/Bg_kehacemos.jpg');
// 	background-size: contain;
// 	background-position: center;
// 	background-repeat: no-repeat;
// }
// #section_three {
// 	background-image: url('../images/BG_objetivo.jpg');
// 	background-size: contain;
// 	background-position: center;
// 	background-repeat: no-repeat;
// }
// #section_four {
// 	background-image: url('../images/Bg_ventajas.jpg');
// 	background-size: contain;
// 	background-position: center;
// 	background-repeat: no-repeat;
// }
// #section_five {
// 	background-image: url('../images/Bg_concepto.jpg');
// 	background-size: contain;
// 	background-position: center;
// 	background-repeat: no-repeat;
// }







