// Colors
$primary: #ffce00;
$text_color: #1c1507;
$link_color: #4D4D4D;
$shadow: #f0b800;
$full_black: #000000;
$white: #FFFFFF;

// SIZES
$root_fz: 16px;
$h1_fz: 3rem;
$h2_fz: 2.25rem;
$h3_fz: 1.5rem;
$h4_fz: 1.125rem;
$h5_fz: 0.875rem;
$h6_fz: 0.75rem;
$body_fz: 3.25rem;
$link_fz: 1.3875rem;
$label_fz: 1.3875rem;
$paragraph: 1.875rem;
$button_small: 1.875rem;
$button_big: 3.125rem;

// SHADOWS
$main_shadow: (
	'offX': 0rem, 
	'offY': 0.3125rem, 
	'blur': 2.35rem, 
	'spread': 0.15rem, 
	'color': $shadow, 
	'alpha': 1
);






















